@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
	background: #f4f6f9;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
.loading-position{
	justify-content: center;
	align-items: center;
	display: "flex";
	position: absolute;
	margin-left: 23rem;
}
.form-container {
	width: 100vw;
	height: 100vh;
	background-color: #fabe7e;
	display: flex;
	justify-content: center;
	align-items: center;
}
.upload-files-container {
	background-color: #f7fff7;
	width: 600px;
	padding: 30px 60px;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}
.drag-file-area {
	border: 2px dashed #2b7cce;
	border-radius: 40px;
	margin: 10px 0 15px;
	padding: 30px 50px;
	width: 500px;
	text-align: center;
}
.drag-file-area .upload-icon {
	font-size: 50px;
}
.drag-file-area h3 {
	font-size: 26px;
	margin: 15px 0;
}
.drag-file-area label {
	font-size: 19px;
}
.drag-file-area label .browse-files-text {
	color: #fed89b;
	font-weight: bolder;
	cursor: pointer;
}
.browse-files span {
	position: relative;
	top: -25px;
}
.default-file-input {
	opacity: 0;
}
.cannot-upload-message {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #bb0000;
	display: none;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.cannot-upload-message span,
.upload-button-icon {
	padding-right: 10px;
	transition-duration: 0.10s;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
	color: #f7fff7;
	background-color: #9be5fe;
	transition: all 1s;
	width: 390px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
.file-info {
	display: flex;
	align-items: center;
	font-size: 15px;
}
.file-icon {
	margin-right: 10px;
}
.file-name,
.file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
}
.progress-bar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;
	border-radius: 25px;
	background-color: #4bb543;
}
.upload-button {
	font-family: "Montserrat";
	background-color: #3062cd;
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 18px;
	border: none;
	border-radius: 20px;
	margin: 10px;
	padding: 7.5px 50px;
	cursor: pointer;
}
.upload-button:hover {
	background-color: #517bd4; /* Green */
	color: white;
}



/* CARD */


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* general styling */

:root {
  /* Primary */

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* Neutral */

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(0, 0%, 43%);
  --Very-Light-Gray: hsl(0, 0%, 87%);
}


.content-wrap {
	padding-bottom: 5.5rem;
	margin-left: 3%;
	margin-right: 3%;
  }

.feature {
  position: relative;
  max-width: 30rem;
  height: 15rem;
  margin: 2rem auto;
  padding: 2em;
  border-radius: 0.75em;
  box-shadow: 5px 5px 20px rgba(0 0 0/0.15);
  text-align: left;
  transition: transform 200ms ease-in;
}

 .feature:hover {
  transform: scale(1.03);
}

.feature__desc {
  margin-top: 0.5em;
  color: var(--Grayish-Blue);
} 

/* .feature__img {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
 */
/* separate styling */

.section__title {
  margin: 0 auto;
  max-width: 90%;
  font-size: 1.65rem;
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
}

.section__title span {
  font-weight: 700;
}

.section__desc {
  max-width: 32ch;
  margin: 1rem auto 3rem;
  color: var(--Grayish-Blue);
  font-size: 1rem;
  text-align: center;
}

.feature-one {
  border-top: 5px solid var(--Cyan);
}

/* .feature-two {
  border-top: 5px solid var(--Red);
}

.feature-three {
  border-top: 5px solid var(--Orange);
}

.feature-four {
  border-top: 5px solid var(--Blue);
}
 */
/* attribution styling */

/* footer {
  position: absolute;
  top: 0;
}

.attribution {
  color: var(--Very-Dark-Blue);
  opacity: 0.7;
}

.attribution a {
  color: var(--Blue);
  text-decoration: underline;
}

.attribution a:hover {
  color: var(--Cyan);
} */

/* media queries */

/* @media (min-width: 1000px) {
  body {
    align-items: center;
    min-height: 100vh;
  }

  section {
    max-width: 200rem;
  }

  .section__title {
    margin: 0 auto;
    max-width: 40%;
    font-size: 2rem;
  }

  .section__desc {
    max-width: 55ch;
    margin: 1rem auto 1rem;
  }

  .features {
    display: flex;
    gap: 2rem;
  }

  .feature-one {
    margin: auto 0;
  }

  .feature-four {
    margin: auto 0;
  }
} */

/* grid candidates */
.gridCandidates {
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

@media (max-width: 1600px) {
	.gridCandidates {
		
		grid-template-columns: 50% 50%;
	}	
}

@media (max-width: 1050px) {
	.gridCandidates {
		
		grid-template-columns: 100%;
	}	
}

/* CARD */

